{% extends 'base.html' %}

{% block content %}

    <center>
        <h1>Database Systems Homework 2</h1>
    </center>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <br>
                <center>
                    <h2> Phoenix Hospital Records </h2>
                </center>
                <hr>
                <p> This site was created as the Database Systems Homework 2. Basically, this site has 5 main pages, which are:
                    "Phoenix" - the main page; "Users" - where you can see and edit (CRUD) tables such as Users, Doctor, Specialization
                    and PublicServant; "Disease" - where you can see and edit (CRUD) tablse such as Country, Disease, DiseaseType, and
                    Discovery; "Records" - where you can see and edit (CRUD) the Record table; "Query" - where you can see 11 queries that
                    where assigned to us in the second part of the project.
                    <br><br>
                    This web site's main fucntionalities are:
                    <ul>
                        <li>Working with database</li>
                        <li>Basic CRUD (Create, Read, Update, Delete) functionalities</li>
                        <li>Displaying 11 queries from part 2</li>
                    </ul> 

                </p>
            </div>

            <div class="col-sm">
                <br>
                <center>
                    <h2> About me </h2>
                </center>
                <hr>
                <p>
                    This site was designed and created by Batyrkhan Abukhanov:
                    <ul>
                        <li> 3rd year Computer Science student </li>
                        <li> Taking Database Systems </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}