{% extends 'base.html' %}

{% block content %}
    <center>
        <h1>Login page</h1>

        <br><br>

        {% if submitted %}
            SUCCESS
        
        {% else %}
        <form action="/signin" method="post">
            {% csrf_token %}
    
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" Required>
            <br><br>
    
            <label for="">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your First Password" Required>
            <br><br>
    
            <button type="submit" class="btn btn-secondary">Sign In</button>
        </form>
        {% endif %}

    </center>


{% endblock %}

    